.p-0 { padding: 0; }
.p-15 { padding: 15px; }
.pl-0 { padding-left: 0; }
.m-0 { margin: 0; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }
.text-upper {
	text-transform: uppercase;
}
.text-larger { font-size: 1.1em; }
.not-active {
   pointer-events: none;
   cursor: default;
}
.panel-heading {
	text-transform: uppercase;
}
.i-checks input:checked + i {
  border-color: #f05050;
}
.i-checks input:checked + i:before {
  background-color: #f05050;
}

.client-btns {
	padding: 15px 15px 15px 0;
}
.client-btns > ul {
	padding: 0;
	margin: 0;
}
.client-btns > ul >li {
	display: inline-block;
}
.external-link {
	color: #19A9D5;
}

/*** Hold Tight ***/
.hold-tight-overlay {
	position: absolute;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    display: block;
}
.hold-tight-container {
    position: relative;
	z-index: 9999999;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 100px;
    background: #fff;
    margin-left: -75px;
    margin-top: -150px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 6px;
    display: block;
}
.hold-tight-container > .message {
	margin: 10px;
	text-align: center;
}
.form-label-bold label {
    font-weight: bold;
}

/*** LINE ITEMS ***/
.over-flow {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line-items > .items-header {
    height: 35px;
    background: #F9F8F8;
    border: 1px solid #ECECEC;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.line-items > .items-header > a {
    margin-left: 15px;
}
.line-items > .items-header > .item-details {
    margin-left: 10px;
 }
.line-item-column:last-child {
    margin-right: 0;
}
.line-item-column {
    vertical-align: middle !important;
    display: inline-block;
    margin-right: 1.5%;
    vertical-align: top;
}
.line-items-subsection .section {
    /*margin-bottom: 25px;*/
    padding: 20px;
}
.line-item-total {
    background: #F9F8F8;
    border: 1px solid #ECECEC;
    margin-top: 50px;
}
.discount-dropdown {
    min-width: 43px;
    margin-top: 0;
}
/*
.line-item-column.subtotal {
    width: 100%;
}
.line-item-column.subtotal > .subtotal-label {
    width: inherit;
}
.line-item-column.subtotal > .subtotal-value {
    
}
*/
.item-remove {
    color: #F05050 !important;
}
.not-active > a > .item-remove {
    color: grey !important;
}
.item-details {
    width: 37%;
}
.item-quantity {
    width: 8.5%;
}
.item-discount {
    width: 9.5%;
}
.item-rate {
    width: 10%;
}
.item-tax {
    width: 11%;
}
.item-amount {
    width: 11%;
}