.p-0 { padding: 0; }
.p-15 { padding: 15px; }
.m-0 { margin: 0; }
.ta-center { text-align: center; }
.text-upper {
	text-transform: uppercase;
}
.panel-heading {
	text-transform: uppercase;
}
.i-checks input:checked + i {
  border-color: #f05050;
}
.i-checks input:checked + i:before {
  background-color: #f05050;
}

.client-btns {
	padding: 15px 15px 15px 0;
}
.client-btns > ul {
	padding: 0;
	margin: 0;
}
.client-btns > ul >li {
	display: inline-block;
}
.external-link {
	color: #19A9D5;
}